
  
  <div>
    <h3 class="main-container">
        @for (item of productsList?.data; track $index){
            
                <div class="card m-1 product-card">
                    <img [src]='getImageData(item.image)' class="card-img-top card-image" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{item.name}}</h5>
                      <div class="card-desc">{{item.description}}</div>
                      <div class="price-text">Price:<span class="text-success"> {{item.price}}</span> Rupees</div>
                     
                    </div>
                  <div class="text-center mb-3"> 
                    <a  class="btn btn-primary add-cart-button mx-3"
                    (click)="redirectHandler(item.id)"
                     >
                      View
                  </a>
                  

                    <a  class="btn add-cart-button" (click)="additem(item)">Add to cart</a>
                  </div>
                  </div>
                
        }
        @empty { 
          <div><h3 class="text-center">No products to show</h3>
          </div>
          }
    </h3>
  </div>